* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  font-size: 20px;
}
.container {
  width: 800px;
  margin: 0 auto;
}
.container p {
  text-align: center;
  margin-bottom: 20px;
}
.wrapper_flex {
  display: flex;
  justify-content: space-between;
}
.wrapper_flex .box {
  color: white;
  background-color: rgb(149, 52, 52);

  width: 25%;
  padding: 30px 0px;
  margin: 20px 20px;
  border-radius: 10px;
}
.textarea textarea {
  width: 100%;
  border-radius: 10px;
  border: 2px solid rgb(34, 221, 68);
}
.button {
  text-align: center;
}
.button button {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: purple;
  color: white;
}
.backGround {
  background-color: rgb(192, 182, 202);
}
.content {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: blue;
  padding: 20px;
}
